:root {
  --font-family-primary: sans-serif;
  --font-family-secondary: monospace;

  --text-h1: 3rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.5rem;
  --text-h5: 1rem;
  --text-h6: .875rem;
}
